body, html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    /*background-image: url("rg.jpg");*/
    background-color: rgb(121, 121, 194); /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: black;
    text-transform:capitalize;
    font-size: 3em;
    font-family: Tahoma;
}

.form-box {
    width: 270px;
    height: 270px;
    padding: 40px;
    background: #253542;
    text-align: center;
    border-radius: 50px;
    border: 1px solid white
}

.form-title {
    color: blanchedalmond;
    text-transform: uppercase;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="button"] {
    border: 2px solid #3742fa;
    background: none ;
    display: block;
    margin: 15px auto;
    padding: 10px 10px;
    text-align: center;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 18px;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
    transition: 0.25s;
    width: 240px;
    border-color: #fff;
}

.form-box button[type="button"]{
    border: 0;
    background: #5352ed;
    border: 2px solid #3742fa;
}
.form-box button[type="button"]:hover{
    background: none;
}
